{% extends "base.njk" %}

{% block titulo %}Usuarios | Listado{% endblock %}

{% block contenido %}

    <h1>Listado de usauarios</h1>

    <ul>
        {% for usuario in user %}
            <li>{{ usuario.name }} 
                <a class="bg-lime-500 rounded-lg" href="/contactos/{{ usuario.id }}">Ficha</a>
                <form style="display:inline" action="/contactos/{{ usuario.id }}" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="bg-red-400 rounded-lg">Borrar</button>
                </form>
                <a class="bg-blue-400 rounded-lg" href="/contactos/editar/{{ usuario.id }}">Editar</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
